<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, minimum-scale=1.0, initial-scale=1.0, user-scalable=yes">

  <title>Sign Up</title>

  <!-- Libery -->
  <script src="public/lib/webcomponentsjs/webcomponents-lite.min.js"></script>
  <!-- Polymer -->
  <link rel="import" href="/public/lib/polymer/polymer.html">
  <!-- Icon Component -->
  <link rel="import" href="/public/lib/iron-icons/iron-icons.html">
  <link rel="import" href="/public/lib/paper-icon-button/paper-icon-button.html">
  <!-- Web Component -->
  <link rel="import" href="/public/lib/iron-ajax/iron-ajax.html">
  <link rel="import" href="/public/lib/iron-form/iron-form.html">
  <link rel="import" href="/public/lib/paper-input/paper-input.html">
  <link rel="import" href="/public/lib/paper-button/paper-button.html">
  <link rel="import" href="/public/lib/paper-radio-group/paper-radio-group.html">
  <link rel="import" href="/public/lib/paper-radio-button/paper-radio-button.html">

  <link rel="import" href="/components/main-layout.html">
  <link rel="import" href="/signup/signup-pages.html">
  <style>
    body {
      margin: 0;
      font-family: 'Roboto', 'Noto', sans-serif;
      background-color: #fafafa;
    }
  </style>
</head>
<body unresolved>
  <template is="dom-bind" id="app">
    <main-layout items='["Item One", "Item Two"]'>
      <signup-page user="{{user}}"></signup-page>
    </main-layout>
  </template>
  <script>
    var app = document.querySelector('#app');
    app.user = <%-JSON.stringify(user || null)%>;
    if (app.user.tokens && app.user.tokens.length > 0) {
      app.user.kind = app.user.tokens[0].kind;
      app.user.accessToken = app.user.tokens[0].accessToken;
    }
  </script>
</body>
</html>