<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, minimum-scale=1.0, initial-scale=1.0, user-scalable=yes">

  <title>Home</title>
  <!-- Libery -->
  <script src="/public/lib/webcomponentsjs/webcomponents-lite.min.js"></script>
  <!-- Polymer -->
  <link rel="import" href="/public/lib/polymer/polymer.html">
  <!-- Web Component -->
  <link rel="import" href="/public/lib/paper-card/paper-card.html">
  <link rel="import" href="/public/lib/iron-flex-layout/classes/iron-flex-layout.html">
	<!-- Main Layout -->
  <link rel="import" href="/components/main-layout.html">
  <link rel="import" href="/components/activity-form.html">

  <style>
    body {
      margin: 0;
      font-family: 'Roboto', 'Noto', sans-serif;
      background-color: #fafafa;
    }
  </style>
</head>
<body unresolved>
  <template is="dom-bind" id="app">
    <style>
    paper-card {
      width: 100%;
    }
    .form-title {
      margin-bottom: 20px;
    }

    .avatar {
      display: inline-block;
      height: 40px;
      overflow: hidden;
      margin-right: 20px;
    }

    .company {
      font-size: 20px;
      font-weight: 200;
    }
    </style>
    <main-layout menu-list='<%= JSON.stringify(menuList) %>'>
      <paper-card>
        <div class="card-content">
          <div class="horizontal layout center form-title">
            <div class="avatar" item-icon><img src="/public/img/en.svg" /></div>
            <div class="flex company">ภาษาไทย</div>
          </div>
          <paper-input type="text" label="ชื่อกิจกรรม" name="nameth" always-float-label></paper-input>
          <paper-input type="text" label="รายละเอียดย่อ" name="shortDescriptionth" char-counter maxlength="80" always-float-label></paper-input>
          <paper-textarea label="รายละเอียด" rows="4" always-float-label></paper-textarea>
        </div>
        <div class="card-content">
          <vaadin-upload
            accept="image/*"
            target="/upload/img/activities"
            method="POST"
            headers="{'Authorization': 'JWT {{getToken()}}'}"
            form-data-name="picture"
          >
            <div class="drop-label">
              <iron-icon icon="image:collections"></iron-icon>
              รูปประกอบกิจกกรม
            </div>
          </vaadin-upload>
        </div>
      </paper-card>
    </main-layout>
</body>
</html>