<!-- Libery -->
<link rel="import" href="/public/lib/polymer/polymer.html">
<!-- Web Component -->
<link rel="import" href="/public/lib/iron-ajax/iron-ajax.html">
<link rel="import" href="/public/lib/bottom-button/bottom-button.html">
<link rel="import" href="/public/lib/paper-spinner/paper-spinner.html">

<script type="text/javascript" src="/public/js/lib/jquery.min.js"></script>
<script type="text/javascript" src="/public/js/lib/html5-qrcode.min.js"></script>
<script type="text/javascript" src="/public/js/lib/jsqrcode-combined.min.js"></script>
<script type="text/javascript" src="/public/js/lib/grid.js"></script>
<script type="text/javascript" src="/public/js/lib/version.js"></script>
<script type="text/javascript" src="/public/js/lib/detector.js"></script>
<script type="text/javascript" src="/public/js/lib/formatinf.js"></script>
<script type="text/javascript" src="/public/js/lib/errorlevel.js"></script>
<script type="text/javascript" src="/public/js/lib/bitmat.js"></script>
<script type="text/javascript" src="/public/js/lib/datablock.js"></script>
<script type="text/javascript" src="/public/js/lib/bmparser.js"></script>
<script type="text/javascript" src="/public/js/lib/datamask.js"></script>
<script type="text/javascript" src="/public/js/lib/rsdecoder.js"></script>
<script type="text/javascript" src="/public/js/lib/gf256poly.js"></script>
<script type="text/javascript" src="/public/js/lib/gf256.js"></script>
<script type="text/javascript" src="/public/js/lib/decoder.js"></script>
<script type="text/javascript" src="/public/js/lib/qrcode.js"></script>
<script type="text/javascript" src="/public/js/lib/findpat.js"></script>
<script type="text/javascript" src="/public/js/lib/alignpat.js"></script>
<script type="text/javascript" src="/public/js/lib/databr.js"></script>

<link rel="import" href="/components/shared-styles/shared-styles.html">

<dom-module id="qr-scanner">
  <template>
    <style is="custom-style" include="shared-styles">
      paper-dialog#dialog.size {
        margin: 0;
        position: fixed;
        top: 10px;
        left: 0;
        right: 0;
        bottom: 72px;
        margin-right: auto;
        margin-left: auto;
        margin-top: auto;
        margin-bottom: auto;
        max-width: none !important;
        background: transparent;
      }
      paper-dialog#dialog > * {
        padding: 0;
        margin: 0;
      }
      video {
        width: 100%!important;
        height: 100%!important;
      }
      bottom-button {
        --bottom-button-background-color: #F44336;
      }
      bottom-button /deep/ .bar {
        z-index: 103;
      }
      #reader {
        height: 100%;
        width: 100%;
      }
      #overlay {
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background: rgba(0, 0, 0, 0.7);
        opacity: 0;
        transition: opacity ease-in 0.5s;
      }
      #overlay .error {
        color: #FFFFFF;
        font-size: 36px;
        line-height: 36px;
        text-align: center;
      }
      #overlay[opened] {
        opacity: 1;
      }
      #spinner {
        width: 40px;
        height: 40px;
      }
    </style>
    <iron-ajax
      id="ajax"
      url="[[url]]"
      method="POST"
      headers="{{headers}}"
      on-response="_handleResponse"
      on-error="_handleError"
      handle-as="json"
      debounce-duration="300"
    ></iron-ajax>
		<paper-dialog id="dialog" class="container size" modal on-iron-overlay-closed="_onClosed">
      <div id="overlay" opened$="[[opened]]">
        <div class="horizontal layout center-justified" style="height: 100%">
          <div class="vertical layout center-justified">
            <paper-spinner id="spinner" hidden></paper-spinner>
            <p class="error">[[_computeTextMessage(success, error, videoError)]]</p>
          </div>
        </div>
      </div>
      <div id="reader" style="min-width:100%; min-height: 500px;">
      </div>
		</paper-dialog>
    <bottom-button on-tap="_onClosed">CLOSE</bottom-button>
  </template>

	<script>
    Polymer({
      is: 'qr-scanner',
      properties: {
        url: String,
        headers: {
          type: Object,
          value: function() {
            return {
              'Authorization': 'JWT ' + window.token
            };
          }
        },
        success: {
          type: Boolean,
          value: false,
        },
        error: {
          type: String,
          value: null
        },
        loading: {
          type: Boolean,
          value: false,
          observer: '_loadingChanged'
        },
        videoError: {
          type: String,
          value: null
        },
        opened: {
          type: Boolean,
          value: false,
          computed: '_computeShowOverlay(success, error, loading, videoError)'
        }
      },

      attached: function(){
        document.addEventListener('token', function(e) {
          var token = e.detail.token;
          if (!token) {
            return;
          }

          this.headers = {
            'Authorization': 'JWT ' + token
          };
        }.bind(this));
      },
      open: function() {
        // Append dialog to the body. This ensures that the dialog claims the full screen instead of being positioned next to the <paper-date-picker-item>
			  Polymer.dom(document.body).appendChild(this);

        // Wait until dialog is added to the DOM (required for Safari)
        setTimeout(function() {
          this.$.dialog.open();

          setTimeout(function() {
            $(this.$.reader).html5_qrcode(function(data) {
              // do something when code is read
              this.$.ajax.params = {
                user: data,
              };
              this.$.ajax.generateRequest();
              this.set('loading', true);
            }.bind(this),
            function(error) {
              //show read errors
              // console.error(error)
            }.bind(this), function(videoError) {
              //the video stream could be opened
              if (videoError.name === 'PermissionDeniedError') {
                this.videoError = videoError.message;
              }
            }.bind(this));
          }.bind(this), 100);
        }.bind(this), 1);
      },
      _onClosed: function(e, detail) {
        // Remove the dialog from the DOM once the exit animation is finished
        try {
          $(this.$.reader).html5_qrcode_stop();
        } catch (err) {
          console.error(err);
        }
        setTimeout(function() {
          Polymer.dom(this.parentNode).removeChild(this);
        }.bind(this), 100);
      },
      _handleResponse: function(event) {
        this.set('loading', false);
        if(event.detail.response) {
          if (event.detail.response.success) {
            // TODO
            this.success = true;
          }
        }
      },
      _handleError: function(event) {
        this.set('loading', false);
        var response = event.detail.request.xhr.response;
        if (!response.success) {
          this.error = response.errors.message;
          console.log(this.error);
        }
      },
      _computeShowOverlay: function(success, error, loading, videoError) {
        if (!!error) {
          // Async fadeOut
          setTimeout(function() {
            this.set('error', null);
          }.bind(this), 4000)
        }
        if (!!success) {
          // Async fadeOut
          setTimeout(function() {
            this.set('success', null);
          }.bind(this), 4000)
        }
        return !!success || !!error || !!videoError || !!loading;
      },
      _computeTextMessage: function(success, error, videoError) {
        return success ? 'Check in success' : (error ? error : videoError);
      },
      _loadingChanged: function(loading) {
        this.$.spinner.active = true;
        this.$.spinner.hidden = !loading;
      }
    });
  </script>
	</dom-module>
