<!-- Libery -->
<link rel="import" href="/public/lib/polymer/polymer.html">
<!-- Web Component -->
<link rel="import" href="/public/lib/iron-ajax/iron-ajax.html">

<dom-module id="facility-api">
  <template>
    <iron-ajax
      id="facilityResource"
      url="{{url}}"
      headers="{{headers}}"
      params="{{params}}"
      on-response="_handleResponse"
      handle-as="json"
    ></iron-ajax>
  </template>
  <script>
    Polymer({
      is: 'facility-api',
      properties: {
        url: {
          type: String,
          value: function() {
            return window.api + '/api/facilities';
          }
        },
        params: {
          type: Object,
          value: {}
        },
        headers: {
          type: Object,
          // value: {
          //   'Authorization': 'JWT ' + document.querySelector('chulaexpo-staff-app').token
          // }
        },
        /*
          Input Data
        */
        facilityId: {
          type: String,
          observer: '_idChanged'
        },
        page: {
          type: Number,
          value: 1
        },
        pageSize: {
          type: Number,
          value: 10
        },
        fields: {
          type: String,
          value: ''
        },
        start: {
          type: String,
          value: ''
        },
        end: {
          type: String,
          value: ''
        },
        zone: {
          type: String,
          value: ''
        },
        /*
          Output Data
        */
        facilities: {
          type: Array,
          value: [],
          notify: true,
        },
        facility: {
          type: Object,
          notify: true,
        },
        loading: Boolean,
        error: {
          type: Object,
          value: {}
        }
      },
      ready: function(){
        document.addEventListener('token', function(e) {
          var token = e.detail.token;
          if (!token) {
            return;
          }

          this.headers = {
            'Authorization': 'JWT ' + token
          };
          // this.generateRequest();
        }.bind(this));
      },
      generateRequest: function() {
        if (this.pageSize === 0) {
          this.set('params.limit', null);
          this.set('params.skip', this.page);
        } else {
          this.set('params.limit', this.pageSize);
          this.set('params.skip', (this.page - 1) * this.pageSize);
        }

        this.set('params.fields', this.fields);

        return this.$.facilityResource.generateRequest();
      },
      _handleResponse: function(event) {
        if(event.detail.response) {
          if (event.detail.response.success) {
            if (this.facilityId) {
              this.facility = event.detail.response.results;
            } else {
              this.facilities = event.detail.response.results;
            }
          } else {
            this.error = event.detail.response.errors;
          }
        }
      },
      _idChanged: function(id) {
        if (id && id!='show' && id!='edit' && id!='add' && id!='list') {
          this.url = window.api + '/api/facilities/' + id;
        } else {
          this.url = window.api + '/api/facilities';
        }
      }
    });
  </script>
</dom-module>
