<!-- Libery -->
<link rel="import" href="/public/lib/polymer/polymer.html">
<!-- Web Component -->
<link rel="import" href="/public/lib/iron-ajax/iron-ajax.html">

<dom-module id="activity-api">
  <template>
    <iron-ajax
      auto
      id="activityResource"
      url="/api/activities"
      params="{{params}}"
      on-response="_handleResponse"
      headers="{{headers}}"
      handle-as="json"
      debounce-duration="300"
    ></iron-ajax>
  </template>
  <script>
    Polymer({
      is: 'activity-api',
      properties: {
        params: {
          type: Object,
          value: {
            fields: 'nameEN,thumbnail,shortDescriptionEN',
            limit: 0,
            skip: 0
          }
        },
        headers: {
          type: Object,
          value: {
            Authentication: document.querySelector('chulaexpo-staff-app').token
          }
        },
        page: {
          type: Number
        },
        pageSize: {
          type: Number
        },
        activities: {
          type: Array,
          value: [],
          notify: true,
        },
        loading: Boolean,
        error: {
          type: Object,
          value: {}
        }
      },

      observers: [
        '_updateRequest(page, pageSize)'
      ],

      _updateRequest: function(page, pageSize, start, end) {
        this.set('params.limit', pageSize);
        this.set('params.skip', (page - 1) * pageSize);
        this.set('params.start', start);
        this.set('params.end', end);
      },
      generateRequest: function() {
         this.$.activityResource.generateRequest();
      },
      _handleResponse: function(event) {
        if (event.detail.response.success) {
          this.activities = event.detail.response.results;
        } else {
          this.error = event.detail.response.errors;
        }
      }
    });
  </script>
</dom-module>
