<!-- Libery -->
<link rel="import" href="/public/lib/polymer/polymer.html">
<!-- Web Component -->
<link rel="import" href="/public/lib/iron-ajax/iron-ajax.html">

<dom-module id="activity-api">
  <template>
    <iron-ajax
      auto
      id="activityResource"
      url="{{url}}"
      headers="{{headers}}"
      params="{{params}}"
      on-response="_handleResponse"
      handle-as="json"
    ></iron-ajax>
  </template>
  <script>
    Polymer({
      is: 'activity-api',
      properties: {
        url: {
          type: String,
          value: '/api/activities',
        },
        params: {
          type: Object,
          value: {}
        },
        headers: {
          type: Object,
          value: {
            'Authorization': 'JWT ' + document.querySelector('chulaexpo-staff-app').token
          }
        },
        /*
          Input Data
        */
        activityId: {
          type: String,
          observer: '_idChanged'
        },
        page: {
          type: Number,
          value: 0
        },
        pageSize: {
          type: Number,
          value: 0
        },
        fields: {
          type: String,
          value: ''
        },
        start: {
          type: String,
          value: ''
        },
        end: {
          type: String,
          value: ''
        },
        zone: {
          type: String,
          value: ''
        },
        /*
          Output Data
        */
        activities: {
          type: Array,
          value: [],
          notify: true,
        },
        activity: {
          type: Object,
          notify: true,
        },
        loading: Boolean,
        error: {
          type: Object,
          value: {}
        },
        createBy: {
          type: String
        },
        me: {
          type: Object,
          value: {}
        }
      },

      observers: [
        'updateRequest(page,pageSize,fields,start,end,zone,me)'
      ],
      updateRequest: function(page, pageSize, fields, start, end, zone, me) {
        if (pageSize === 0) {
          this.set('params.limit', null);
          this.set('params.skip', page);
        } else {
          this.set('params.limit', pageSize);
          this.set('params.skip', (page - 1) * pageSize);
        }

        this.set('params.fields', fields)
        if (start) {
          var startQuery = { gte: start };
          this.set('params.start', JSON.stringify(startQuery));
          this.set('params.skip', 0);
        }
        if (end) {
          var endQuery = { lte: end };
          this.set('params.end', JSON.stringify(endQuery));
          this.set('params.skip', 0);
        }

        if(me.type == 'Staff' && me.staff.staffType != 'Admin')
          this.set('params.createBy', me._id);
        else
          delete this.params.createBy;


        this.set('params.zone', zone);
      },
      generateRequest: function() {
        this.updateRequest(this.page,this.pageSize,this.fields,this.start,this.end,this.zone,this.me);
        this.$.activityResource.generateRequest();
      },
      _handleResponse: function(event) {
        if(event.detail.response) {
          if (event.detail.response.success) {
            if (this.activityId) {
              this.activity = event.detail.response.results;
            } else {
              this.activities = event.detail.response.results;
            }
          } else {
            this.error = event.detail.response.errors;
          }
        }
      },
      _idChanged: function(id) {
        if (id && id!='show' && id!='edit' && id!='add' && id!='list') {
          this.url = '/api/activities/' + id;
        } else if (id && id=='list'){
          this.url = '/api/activities';
        } else {
          this.url = '';
        }
      }
    });
  </script>
</dom-module>
