<!-- Libery -->
<link rel="import" href="/public/lib/polymer/polymer.html">
<!-- Web Component -->
<link rel="import" href="/public/lib/iron-ajax/iron-ajax.html">

<dom-module id="round-api">
  <template>
    <iron-ajax
      id="roundResource"
      url="[[url]]"
      headers="[[headers]]"
      params="[[params]]"
      on-response="_handleResponse"
      handle-as="json"
    ></iron-ajax>
  </template>
  <script>
    Polymer({
      is: 'round-api',
      properties: {
        url: {
          type: String,
          value: '/api/rounds',
        },
        params: {
          type: Object,
          value: {}
        },
        headers: {
          type: Object,
          value: function() {
            return {
              'Authorization': 'JWT ' + window.token,
            }
          },
        },
        /*
          Input Data
        */
        roundId: {
          type: String,
          observer: '_idChanged'
        },
        page: {
          type: Number,
          value: 0
        },
        pageSize: {
          type: Number,
          value: 0
        },
        fields: {
          type: String,
          value: ''
        },
        start: {
          type: String,
          value: ''
        },
        end: {
          type: String,
          value: ''
        },
        zone: {
          type: String,
          value: ''
        },
        /*
          Output Data
        */
        rounds: {
          type: Array,
          value: [],
          notify: true,
        },
        round: {
          type: Object,
          notify: true,
        },
        loading: Boolean,
        error: {
          type: Object,
          value: {}
        }
      },

      observers: [
        '_updateRequest(url, page,pageSize,fields,start,end,zone)'
      ],

      ready: function(){
        document.addEventListener('token', function(e) {
          var token = e.detail.token;
          if (!token) {
            return;
          }
          
          this.headers = {
            'Authorization': 'JWT ' + token
          };
          this.generateRequest();
        });
      },
      _updateRequest: function(url, page, pageSize, fields, start, end, zone) {
        if (pageSize === 0) {
          this.set('params.limit', null);
          this.set('params.skip', page);
        } else {
          this.set('params.limit', pageSize);
          this.set('params.skip', (page - 1) * pageSize);
        }

        this.set('params.fields', fields);
      },
      generateRequest: function() {
        return this.$.roundResource.generateRequest();
      },
      _handleResponse: function(event) {
        if(event.detail.response) {
          if (event.detail.response.success) {
            if (this.roundId) {
              this.round = event.detail.response.results;
            } else {
              this.rounds = event.detail.response.results;
            }
          } else {
            this.error = event.detail.response.errors;
          }
        }
      },
      _idChanged: function(id) {
        if (id && id!='show' && id!='edit' && id!='add' && id!='list') {
          this.url = '/api/rounds/' + id;
        } else if (id && id=='list'){
          this.url = '/api/rounds';
        } else {
          this.url = '';
        }
      }
    });
  </script>
</dom-module>
