<dom-module id="shared-styles">
  <template>
    <style>
      :host {
        --primary-color: #222;
        --secondary-color: #fff;
      }
      .row {
        display: -webkit-box;
        display: -webkit-flex;
        display: -ms-flexbox;
        display: flex;
        -webkit-flex-wrap: wrap;
        -ms-flex-wrap: wrap;
        flex-wrap: wrap;
        /*margin-right: -15px;
        margin-left: -15px;*/
      }
      .container {
        position: relative;
        width: 100%;
        margin-left: auto;
        margin-right: auto;
        /*padding-right: 15px;
        padding-left: 15px;*/
      }
      @media (min-width: 600px) { 
        .container {
          width: 540px;
          max-width: 100%;
          /*padding-right: 15px;
          padding-left: 15px;*/
        }
      }
      @media (min-width: 768px) {
        .container {
          width: 720px;
          max-width: 100%;
          /*padding-right: 15px;
          padding-left: 15px;*/
        }
      }
      @media (min-width: 992px) {
        .container {
          width: 960px;
          max-width: 100%;
        }
        .container {
          /*padding-right: 15px;
          padding-left: 15px;*/
        }
      }
    </style>
  </template>
</dom-module>