<!-- Libery -->
<link rel="import" href="/public/lib/polymer/polymer.html">
<!-- Web Component -->
<link rel="import" href="/public/lib/iron-ajax/iron-ajax.html">

<dom-module id="zone-api">
  <template>
    <iron-ajax
      auto
      id="zoneResource"
      url="/api/zones"
      params="{{params}}"
      on-response="_handleResponse"
      headers='{"Authentication": "{{token}}"}'
      handle-as="json"
      debounce-duration="300"
    ></iron-ajax>
  </template>
  <script>
    Polymer({
      is: 'zone-api',
      properties: {
        params: {
          type: Object,
          value: {
            fields: 'nameEN,thumbnail,shortNameEN,type',
            limit: 0,
            skip: 0
          }
        },
        page: {
          type: Number,
          value: 1
        },
        pageSize: {
          type: Number,
          value: 10
        },
        token: {
          type: String,
          value: document.querySelector('chulaexpo-staff-app').token
        },
        zones: {
          type: Array,
          value: [],
          notify: true,
        },
        loading: Boolean,
        error: {
          type: Object,
          value: {}
        }
      },

      observers: [
        '_updateRequest(page, pageSize)'
      ],

      _updateRequest: function(page, pageSize) {
        this.params.limit = pageSize;
        this.params.skip = (page - 1) * pageSize;
      },
      _handleResponse: function(event) {
        if (event.detail.response.success) {
          this.zones = event.detail.response.results;
        } else {
          this.error = event.detail.response.errors;
        }
      }
    });
  </script>
</dom-module>
