<!-- Libery -->
<link rel="import" href="/public/lib/polymer/polymer.html">

<dom-module id="zone-api">
  <template>
    <iron-ajax
      id="zoneResource"
      url="/api/zones"
      params:"{{params}}"
      on-response="_handleZoneResourcesResponse"
      headers='{"Authentication": "{{token}}"}'
      handle-as="json"
      debounce-duration="300"
    ></iron-ajax>
  </template>
  <script>
    Polymer({
      is: 'zone-api',
      properties: {
        page: {
          type: Number,
          value: 0
        },
        pageSize: {
          type: Number,
          value: 10
        },
        dataSource: {
          type: Object,
          value: {}
        },
        token: {
          type: String,
          value: document.querySelector('chulaexpo-staff-app').token
        },
      },

      attached: function() {
        this._setDataSource();
      },
      _zoneRequest: function(resolve) {
        var response = this.$.zoneResource;
        response.resolve = resolve;
        response.generateRequest();
      },
      _handleZoneResourcesResponse: function(event) {
        console.log(this);
        this.resolve(event.detail.response.data);
      },
      _setDataSource: function() {
        this.dataSource.get = function(sort, page, pageSize) {
          this.page = page;
          this.pageSize = pageSize;
          return new Promise((resolve, reject) => this._zoneRequest(resolve));
        }
      }
    });
  </script>
</dom-module>