<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, minimum-scale=1.0, initial-scale=1.0, user-scalable=yes">

  <title>Activity</title>
  <!-- Libery -->
  <script src="/public/lib/webcomponentsjs/webcomponents-lite.min.js"></script>
  <!-- Polymer -->
  <link rel="import" href="/public/lib/polymer/polymer.html">
  <!-- Web Component -->
  <link rel="import" href="/public/lib/paper-card/paper-card.html">
  <link rel="import" href="/public/lib/paper-fab/paper-fab.html">
  <link rel="import" href="/public/lib/iron-flex-layout/iron-flex-layout.html">
	<!-- Main Layout -->
  <link rel="import" href="/components/main-layout.html">
  <link rel="import" href="/components/shared-styles.html">

  <style is="custome-style">
    body {
      margin: 0;
      font-family: 'Roboto', 'Noto', sans-serif;
      background-color: #fafafa;
    }
  </style>
</head>
<body unresolved>
  <template is="dom-bind" id="app">
    <main-layout menu-list='<%= JSON.stringify(menuList) %>' selected='<%= selected %>'>
      <style is="custom-style" include="shared-styles">
        paper-fab.primary {
          --paper-fab-background: #222;
          position: fixed;
          bottom: 20px;
          right: 20px;
          -webkit-transform: translateZ(0);
        }
      </style>
      <paper-fab icon="add" title="add" class="primary"></paper-fab>
    </main-layout>
  </template>
</body>
</html>