<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, minimum-scale=1.0, initial-scale=1.0, user-scalable=yes">

  <title>Home</title>
  <!-- Libery -->
  <script src="/public/lib/webcomponentsjs/webcomponents-lite.min.js"></script>
  <!-- Polymer -->
  <link rel="import" href="/public/lib/polymer/polymer.html">
  <!-- Web Component -->
  <link rel="import" href="/public/lib/paper-card/paper-card.html">
  <link rel="import" href="/public/lib/paper-autocomplete/paper-autocomplete.html">
  <link rel="import" href="/public/lib/paper-tags-input/paper-tags-input.html">
  <link rel="import" href="/public/lib/greenyouse-datetime-local-input/datetime-local-input.html">
  <link rel="import" href="/public/lib/iron-flex-layout/iron-flex-layout.html">
  <link rel="import" href="/public/lib/google-map/google-map.html">
  <link rel="import" href="/public/lib/google-map/google-map-marker.html">
	<!-- Main Layout -->
  <link rel="import" href="/components/main-layout.html">
  <link rel="import" href="/components/activity-form.html">

  <style>
    body {
      margin: 0;
      font-family: 'Roboto', 'Noto', sans-serif;
      background-color: #fafafa;
    }
  </style>
</head>
<body unresolved>
  <template is="dom-bind" id="app">
    <style is="custom-style">
    paper-card {
      width: 100%;
    }

    .item {
      margin-bottom: 10px;
    }
    .form-title {
      margin-bottom: 20px;
    }

    .avatar {
      display: inline-block;
      height: 40px;
      overflow: hidden;
      margin-right: 20px;
    }

    .flex-layout {
      @apply(--layout-horizontal);
    }
    .flex {
      @apply(--layout-flex);
    }
    .label {
      font-weight: 200;
      width: 100px;
      display: inline-block;
      margin-right: 20px;
    }
    .label.--upload {
      line-height: 70px;
    }

    .company {
      font-size: 20px;
      font-weight: 200;
    }

    google-map {
      height: 300px;
    }
    </style>
    <main-layout menu-list='<%= JSON.stringify(menuList) %>'>
      <paper-card>
        <div class="card-content">
          <!-- Thumbnail Upload -->
          <div class="item">
            <div class="flex-layout">
              <label class="label --upload">Thumbnail</label>
              <div class="flex">
                <vaadin-upload
                  id="thumbnailUpload"
                  accept="image/*"
                  target="/upload/img/activities/thumbnail"
                  method="POST"
                  headers="{'Authorization': 'JWT {{token}}'}"
                  form-data-name="picture"
                >
                  <div class="drop-label">
                    <iron-icon icon="image:collections"></iron-icon>
                    รูปทัมเนล
                  </div>
                </vaadin-upload>
                <input id="thumbnailurl" type="hidden" name="thumbnailUrl">
                <script>
                  var thumbnailUpload = document.querySelector('vaadin-upload#thumbnailUpload')
                  thumbnailUpload.addEventListener("upload-response", function(event) {
                    console.log(event);
                    document.querySelector('#thumbnailurl').value = event;
                  });
                </script>
              </div>
            </div>
          </div>
          <!-- Banner Upload -->
          <div class="item">
            <div class="flex-layout">
              <label class="label --upload">Banner</label>
              <div class="flex">
                <vaadin-upload
                  id="bannerUpload"
                  accept="image/*"
                  target="/upload/img/activities/banner"
                  method="POST"
                  headers="{'Authorization': 'JWT {{token}}'}"
                  form-data-name="picture"
                >
                  <div class="drop-label">
                    <iron-icon icon="image:collections"></iron-icon>
                    แบรนเนอร์
                  </div>
                </vaadin-upload>
              </div>
            </div>
          </div>
          <!-- Time -->
          <div class="item">
            <div>
              <label class="label --input">Start Time</label>
              <div class="flex" style="display: inline-block">
                <datetime-local-input name="starttime" label="" no-label-float="true"></datetime-local-input>
              </div>
            </div>
            <div>
              <label class="label --input">End Time</label>
              <div class="flex" style="display: inline-block">
                <datetime-local-input name="endtime" label="" no-label-float="true" required></datetime-local-input>
              </div>
            </div>
          </div>
          <!-- Location -->
          <div class="item">
            <label class="label --upload">Location</label>
            <div class="flex" style="display: inline-block">
              <paper-autocomplete label="Location" id="input-location" no-label-float="true" remote-source="true"></paper-autocomplete>
            </div>
            <script>
              document.querySelector('#input-location').addEventListener('autocomplete-change', function(event) {
                var input = document.querySelector('#input-location');
                var search = event.detail.option.text;
                var url = '/places?q=' + search;
                var delay = Math.random() * (500 - 100) + 100;

                setTimeout(function () {
                  var req = new XMLHttpRequest();
                  req.open('GET',encodeURI(url));
                  req.onload = function() {
                    if (req.status === 200) {
                      var data = JSON.parse(req.response);
                      var arr = data.location.map(function(obj){
                        return { text:obj.text, value:obj.id };
                      });
                      input.suggestions(arr);
                    }
                  };
                  req.send();
                }.bind(this), delay);
              });
            </script>
          </div>
          <!-- Google Map -->
          <div class="item">
            <google-map latitude="[[latitude]]" longitude="[[longitude]]" api-key="AIzaSyDqaDUBa0p8qYiWDwjYUlxkInJuwgTxD1o">
              <google-map-marker latitude="{{latitude}}" longitude="{{longitude}}" draggable="true"
                  title="Activity Location!"></google-map-marker>
            </google-map>
          </div>
        </div>
        <div class="card-content">
          <!-- Thai Language -->
          <div class="flex-layout center form-title">
            <div class="avatar" item-icon><img src="/public/img/th.svg" /></div>
            <div class="flex company">ภาษาไทย</div>
          </div>
          <paper-input type="text" label="ชื่อกิจกรรม" name="nameth" always-float-label></paper-input>
          <paper-input type="text" label="รายละเอียดย่อ" name="shortDescriptionth" char-counter maxlength="80" always-float-label></paper-input>
          <paper-textarea label="รายละเอียด" name="descriptionth" rows="4" always-float-label></paper-textarea>
          <!-- English Language -->
          <div class="flex-layout center form-title">
            <div class="avatar" item-icon><img src="/public/img/en.svg" /></div>
            <div class="flex company">English</div>
          </div>
          <paper-input type="text" label="Activity name" name="nameen" always-float-label></paper-input>
          <paper-input type="text" label="Short description" name="shortDescriptionen" char-counter maxlength="80" always-float-label></paper-input>
          <paper-textarea label="Description" name="descriptionen" rows="4" always-float-label></paper-textarea>
        </div>
        <div class="card-content">
          <vaadin-upload
            id="activityImage"
            accept="image/*"
            target="/upload/img/activities"
            method="POST"
            headers="{'Authorization': 'JWT {{token}}'}"
            form-data-name="picture"
          >
            <div class="drop-label">
              <iron-icon icon="image:collections"></iron-icon>
              รูปประกอบกิจกกรม
            </div>
          </vaadin-upload>
          <!-- Tags -->
          <div class="item">
            <paper-tags-input label="Tags" tags="{{tags_list}}"></paper-tags-input>
          </div>
        </div>
      </paper-card>
    </main-layout>
    <script>
      window.addEventListener('WebComponentsReady', function(e) {
        app.token = document.querySelector('main-layout').token;
        app.latitude = 13.7383777;
        app.longitude = 100.53205279999997;
        app.tags_list = ['ChulaExpo'];
      });
    </script>
  </template>
</body>
</html>