<!-- Libery -->
<link rel="import" href="/public/lib/polymer/polymer.html">
<!-- Web Component -->
<link rel="import" href="/public/lib/iron-icons/iron-icons.html">
<link rel="import" href="/public/lib/iron-icons/maps-icons.html">
<link rel="import" href="/public/lib/iron-icons/image-icons.html">
<link rel="import" href="/public/lib/paper-ripple/paper-ripple.html">
<link rel="import" href="/public/lib/paper-input/paper-input.html">
<link rel="import" href="/public/lib/paper-input/paper-input-container.html">
<link rel="import" href="/public/lib/paper-date-picker-item/paper-datetime-picker-item.html">
<link rel="import" href="/public/lib/paper-spinner/paper-spinner.html">
<link rel="import" href="/public/lib/app-layout/app-toolbar/app-toolbar.html">
<link rel="import" href="/public/lib/app-layout/app-header/app-header.html">
<link rel="import" href="/public/lib/paper-collapse-item/paper-collapse-item.html">
<link rel="import" href="/public/lib/paper-collapse-item/paper-collapse-group.html">

<link rel="import" href="/components/ticket-list/ticket-list.html">
<link rel="import" href="/components/round-api/round-api.html">
<link rel="import" href="/components/qr-scanner/qr-scanner.html">
<dom-module id="rounds-list">
  <template>
    <style is="custom-style">
      app-header {
        width: 100%;
        color: #222;
        background-color: #fff;
        margin-top: 12px;
      }
      .empty-list {
        height: 200px;
        @apply(--layout-horizontal);
        @apply(--layout-center);
        @apply(--layout-center-justified);
      }
      .empty-list:before {
        content: "ไม่มีข้อมูล";
        font-style: italic;
        color: #bbb;
        font-weight: 200;
      }

      .card {
        width: 100%;
        margin: 4px;
      }
      paper-collapse-item {
        border-bottom: 1px solid #222;
      }
      .item-styles /deep/ paper-item:focus:before {
        opacity: 0;
      }
      .--red {
        background-color: #F44336;
        color: #fff;
      }
      .seats {
        @apply(--layout-horizontal);
      }
      .seats > paper-input {
        width: 50%;
        display: inline-flex;
      }
      .avatar {
        height: 40px;
        width: 40px;
        border-radius: 20px;
        box-sizing: border-box;
        background-color: #DDD;
      }
      div[name="list"] {
        padding-bottom: 20px;
        margin-top: 12px;
      }
      #spinner {
        height: 22px;
        width: 22px;
      }
      .timeinput {
        --paper-input-container-underline: {
          display: none;
        };
      }
      .white-button[disabled] {
        background: transparent;
      }
      #ticketDialog {
        width: 100%;
      }
    </style>
    <round-api id="api" url="[[_url]]" rounds="{{rounds}}" error="{{error}}"></round-api>
    <paper-card class="card">
      <app-header fixed style="height: 48px;">
        <app-toolbar>
          <paper-icon-button on-tap="_gotoList" icon="arrow-back" hidden$="[[_isCreating(_state)]]"></paper-icon-button>
          <div main-title>[[_computeTitleBarText(_state)]]</div>
          <paper-icon-button on-tap="_gotoAdd" icon="add-circle-outline" hidden$="[[!_isCreating(_state)]]"></paper-icon-button>
        </app-toolbar>
      </app-header>
      <iron-pages
        selected="[[_state]]"
        attr-for-selected="name">
        <div name="list">
          <div>
            <template is="dom-if" if="[[_computeNoRounds(rounds)]]">
              <div class="empty-list"></div>
            </template>
            <paper-collapse-group>
              <template is="dom-repeat" items="[[rounds]]">
                <paper-collapse-item class="item-styles" icon="maps:local-offer" header="[[item.name.en]]" tabindex$="[[tabIndex]]">
                  <div role="listbox">
                    <paper-icon-item>
                      <iron-icon icon="icons:event-seat" item-icon></iron-icon>
                      [[item.seats.reserved]]/[[item.seats.fullCapacity]]
                    </paper-icon-item>
                    <paper-icon-item>
                      <iron-icon icon="icons:event" item-icon></iron-icon>
                      [[_convertToDate(item.start)]] - [[_convertToDate(item.end)]]
                    </paper-icon-item>
                    <paper-icon-item on-tap="_onTicketListClick">
                      <paper-ripple></paper-ripple>
                      <iron-icon icon="maps:local-offer" item-icon></iron-icon>
                      View Tickets List
                    </paper-icon-item>
                    <paper-icon-item on-tap="_launchQRScanner">
                      <paper-ripple></paper-ripple>
                      <iron-icon icon="image:photo-camera" item-icon></iron-icon>
                      Open QRCode Scanner
                    </paper-icon-item>
                    <paper-icon-item class="delete --red" on-tap="_deleteClick">
                      <paper-ripple></paper-ripple>
                      <iron-icon icon="icons:delete" item-icon></iron-icon>
                      Delete
                    </paper-icon-item>
                  </div>
                </paper-collapse-item>
              </template>
            </paper-collapse-group>
          </div>
        </div>
        <div name="create">
          <form
            id="form"
            is="iron-form"
            method="post"
            headers="[[_headers]]"
            action="[[_url]]"
            on-iron-form-presubmit="_presubmit"
            on-iron-form-submit="_submit"
            on-iron-form-response="_response">
            <div class="card-content">
              <!-- time -->
              <paper-input-container class="timeinput" always-float-label>
                <label>เวลาเริ่ม</label>
                <paper-datetime-picker-item icon="icons:alarm" date={{start}} is="iron-input" placeholder="เลือกเวลาเริ่ม"></paper-datetime-picker-item>
                <input type="hidden"></input>
              </paper-input-container>
              <paper-input-container class="timeinput" always-float-label>
                <label>เวลาจบ</label>
                <paper-datetime-picker-item icon="icons:alarm" date={{end}} is="iron-input" placeholder="เลือกเวลาจบ"></paper-datetime-picker-item>
                <input type="hidden"></input>
              </paper-input-container>
              <div class="seats">
                <paper-input type="number" label="จองแล้ว" name="seatsReserved" always-float-label required>
                  <div suffix>/</div>
                </paper-input>
                <paper-input type="number" label="ทั้งหมด" name="seatsFullCapacity" always-float-label required></paper-input>
              </div>
              <paper-input type="text" label="ชื่อ (ไทย)" name="nameTH" always-float-label required></paper-input>
              <paper-input type="text" label="Name (English)" name="nameEN" always-float-label required></paper-input>
            </div>

            <!-- Submit Button -->
            <div class="card-actions">
              <div class="button-holder">
                <paper-button id="submit" class="white-button" disabled on-tap="_delayedSubmit">
                  <paper-spinner id="spinner" hidden></paper-spinner>
                  <div id="submitTextHolder">Submit</div>
                </paper-button>
                <!-- Reset Button -->
                <paper-button on-tap="_reset">Reset</paper-button>
              </div>
            </div>
          </form>
        </div>
      </iron-pages>
    </paper-card>
    <paper-dialog id="ticketDialog" on-iron-overlay-closed="">
      <ticket-list id="ticketList" activity-id="[[activityId]]" round-id="[[_targetRound]]"></ticket-list>
    </paper-dialog>
    <paper-dialog id="deleteDialog" on-iron-overlay-closed="_delete">
      <h2>Are you sure?</h2>
      <div class="buttons">
        <paper-button dialog-dismiss>No</paper-button>
        <paper-button dialog-confirm autofocus>Yes</paper-button>
      </div>
    </paper-dialog>
  </template>
  <script>
    Polymer({
      is: 'rounds-list',
      properties: {
        _state: {
          type: String,
          value: 'list',
        },
        activityId: {
          type: String,
          observer: '_idChanged'
        },
        rounds: {
          type: Array,
          value: [],
        },
        error: {
          type: Array,
          value: [],
        },
        _url: String,
        _headers: {
          type: Object,
          value: function() {
            return {
              'Authorization': 'JWT ' + window.token,
            };
          }
        },
        _targetRound: {
          type: String,
        },
      },

      ready: function() {
        this.$.form.addEventListener('change', function(event) {
          // Validate the entire form to see if we should enable the `Submit` button.
          this.$.submit.disabled = !this.$.form.validate();
        }.bind(this));
        
        document.addEventListener('token', function(e) {
          var token = e.detail.token;
          if (!token) {
            return;
          }

          this._headers = {
            'Authorization': 'JWT ' + token
          };
          this.$.api.generateRequest();
        }.bind(this));
      },
      _getClassForItem: function(item, selected) {
        return selected ? 'item expanded' : 'item';
      },
      _delayedSubmit: function(event) {
        if (!this.start || !this.end) {
          return event.preventDefault();
        }
        var form = this.$.form;
        this.$.spinner.active = true;
        this.$.spinner.hidden = false;
        this.$.submitTextHolder.hidden = true;
        this.$.submit.disabled = true;
        form.submit();
      },
      _response: function(e) {
        if (e.detail.response.success) {
          this.$.form.reset();
          this.$.api.generateRequest();
          this._state = 'list';
        }
      },
      _reset: function(event) {
        this.$.form.reset();
      },
      _submit: function(event) {
        this.$.spinner.active = false;
        this.$.spinner.hidden = true;
        this.$.submitTextHolder.hidden = false;
        this.$.submit.disabled = false;
      },
      _presubmit: function(event) {
        if (!this.start || !this.end) {
          return event.preventDefault();
        }
        this.$.form.request.body.start = this.start;
        this.$.form.request.body.end = this.end;
      },
      _deleteClick: function(event) {
        this.deleteId = event.model.item['_id'];
        this.$.deleteDialog.open();
      },
      _delete: function(event) {
        if(event.detail.confirmed) {
          var id = this.deleteId;
          var url = window.api + '/api/rounds/' + id;

          setTimeout(function () {
            var req = new XMLHttpRequest();
            req.open('DELETE', encodeURI(url));
            req.onload = function() {
              if (req.status === 202) {
                this.$.api.generateRequest();
              }
            }.bind(this);
            req.send();
          }.bind(this), 300);
        }
      },
      _idChanged: function(id) {
        if (id && id!='show' && id!='edit' && id!='add' && id!='list') {
          this._url = window.api + '/api/activities/' + id + '/rounds';
          this.$.api.generateRequest();
        } else {
          this._url = '';
        }
      },
      _convertToDate: function(dateTime) {
        return moment.utc(dateTime).format('D MMM, HH:mm');
      },
      _gotoList: function(e) {
        this._state = 'list';
      },
      _gotoAdd: function(e) {
        this._state = 'create';
      },
      _launchQRScanner: function() {
        var qr = document.createElement('qr-scanner');
        
        qr.url = this._url + '/' + event.model.item['_id'] + '/checkin';
        qr.open();
      },
      _onTicketListClick: function() {
        this._targetRound = event.model.item['_id'];
        this.$.ticketList.generateRequest();
        setTimeout(function() {
          this.$.ticketDialog.open();
        }.bind(this), 50)
      },
      _computeNoRounds: function(rounds) {
        return !rounds.length;
      },
      _isCreating: function(_state) {
        return _state === 'list';
      },
      _computeTitleBarText: function(_state) {
        return _state === 'list' ? 'Round' : 'Create round';
      }
    });
  </script>
</dom-module>
