<!DOCTYPE html>
<html lang="en">
<head>
</head>
<body class="container">
  <!-- Header -->
  <app-header reveals>
    <app-toolbar>
      <paper-icon-button icon="menu" onclick="drawer.toggle()"></paper-icon-button>
      <div main-title>My app</div>
      <paper-icon-button icon="delete"></paper-icon-button>
      <paper-icon-button icon="search"></paper-icon-button>
      <paper-icon-button icon="close"></paper-icon-button>
      <paper-progress value="10" indeterminate bottom-item></paper-progress>
    </app-toolbar>
  </app-header>
  <app-drawer id="drawer" swipe-open></app-drawer>
  <!-- Form -->
  <form method="post">
    Email:<br>
    <input type="text" name="email" />
    Password:<br>
    <input type="text" name="passwords" />
    <input type="submit" value="Submit">

    <a href="api/auth/facebook" />
  </form>

</body>
</html>