<!DOCTYPE html>
<html lang="en">
<head>
</head>
<body class="container">

	<header>
	</header>

	<main>
  <form method="post">
    Email:<br>
    <input type="text" name="email" />
    Password:<br>
    <input type="text" name="passwords" />
    <input type="submit" value="Submit">

    <a href="api/auth/facebook" />
  </form>
	</main>

	<footer>
	</footer>
	
</body>
</html>